html {font-size: 50px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: 'Beau Rivage', cursive; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    background-color: #6b0b00;
}

  h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(94, 90, 90);
  }
  
  p {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 2px;
  }

  li {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1.5px;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(231, 231, 231);
    padding: 0 300px 20px 300px;
    border: 5px solid black;
  }